name: Test

on:
#  issues:
#    types: [opened, edited]
#  issue_comment:
#    types: created #, edited]
#  pull_request:
#    types: opened
  push:
#    branches: wiki
    paths-ignore:
      - '.github/*'
      - '.github/*_TEMPLATE/**'
      - '*.yml'
  workflow_dispatch:
#    inputs:
#      TEST:
#        type: boolean
#        default: false
#  issues:
#    types: [opened, reopened, edited]
#  issue_comment:
#    types: [created, edited]
#  pull_request:

#defaults:
#  run:
#    shell: bash

jobs:
  test:
#    name: ${{ matrix.runs-on }}
    runs-on: ubuntu-latest #${{ matrix.runs-on }}
#    container: ${{ matrix.container }}
#    strategy:
#      fail-fast: false
#      matrix:
#        test: [a, b]
#        container: [ubuntu:devel, '']
#        runs-on: [ubuntu-latest, windows-latest, macos-latest] #[windows-latest, ubuntu-18.04, ubuntu-latest, macos-latest]
#    env:
#      pull_request_title: ${{ github.event.pull_request.title }}
#      issue_title: ${{ github.event.issue.title }}
#      TEST: true
    steps:
      - uses: actions/checkout@main
        with:
          repository: xenia-canary/xenia-canary
      - uses: actions/setup-python@main
        with:
          python-version: '3.x'
      - name: run
#        env:
#          I_AM_BOOLEAN: ${{ inputs.I_AM_BOOLEAN }}
#          LC_ALL: C.UTF-8
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        shell: python
        run: |
          python --version
#      - name: Update wiki
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: |
#          git remote add remote https://github.com/${{ github.repository }}.git
#          git fetch remote wiki
#          git reset --hard remote/wiki
#          git push -f
#      - name: test
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          test: ${{ matrix.test[0] }}
#        run: |
#          echo hi
